
  
.welcomePage{
    
    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: center;
    justify-content: center;
    text-align:center;
}

@media (max-width: 850px) {
    .welcomePage {
      flex-direction: column;
    }
  }

.pictureCollage{
    flex:5;
    display: grid;
    height:70%;
    margin-top: 10vh;
  
    grid-template-columns: repeat(7, 1fr) ;
    grid-template-rows: repeat(12, 10%);
  
    box-sizing: border-box;
  

}

.logoDesign{
    flex: 5;
    
}

.Image2{
    
    height: 100%; 
    width: 80%;
    grid-row: 9/span 2;
    grid-column: 5/ span 2;
    object-fit: fill;
    border: .2em solid white;
    outline: .2em solid #FFF2B2;
}

.Image3{
    width: 80%;
    height: 100%;
    
    grid-row: 1/4;
    grid-column: 2/span 2;
    object-fit: fill;
    border: .2em solid white;
    outline: .2em solid #FFF2B2;

}

.Image1{
    height: 90%; 
    outline: solid #FFF2B2;
    width: 100%;
    grid-row: 2/11;
    grid-column:  3/span 3;
    object-fit: fill;
    border: .2em solid white;
    outline: .2em solid #FFF2B2;
}



.whiteLogo{
   
    width: 100%;
    object-fit: fill;
    margin-top: 10vh;
}

.btn{
    background-color: white;
    font-family: "Brush Script MT" !important;
}


