.food-items{
    display: grid;
    padding: 3%;
    grid-auto-rows: repeat(5,20%);
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    
    grid-gap: 5vh;
    
}

.card{
    /* background-color: #FFF2B2 ; */
    text-align: center !important;
    font-family: "Brush Script MT" !important;
    color: #545454 !important;
    border-radius: 5%;
    
}

.card-img-top{
    object-fit: cover;
    border-radius: 0%;
    border-radius: 5%;
}




.heading{
    text-align: center;
    font-family: "Brush Script MT";
    color: #545454;
    font-size: 5vw;
    margin: 3vw;
}